@page
@model YobaBox.Web.Pages.IndexModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="0;url=/dashboard" />
</head>
<body>
	<a href="/dashboard">Go to Dashboard</a>
</body>
</html>
